/*this is my style sheet */
* {
 color:#ff00aa; 
 font-family: Verdana, Sans-Serif;
}
#main {
color:#00ffff;

}
h1{
 font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
 color:#000000;
}
p1{
 font-family: Verdana, Sans-Serif;
 color:#aaaaaa;
}
