/*this is my style sheet */
* {
 color:#ff00aa; 
 font-family: Verdana, Sans-Serif;
 font-size:20px;
}
#main {
color:#aa00ff;

}
h1{
 font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
 font-size:70px;
 color:#000000;
}
p{
 font-family: Verdana, Sans-Serif;
 font-size:20px;
 color:#aaaaaa;
}
